absl-py==1.4.0
altgraph==0.17.3
arrow==1.2.3
attrs==23.1.0
cffi==1.15.1
click==8.1.7
colorama==0.4.6
contourpy==1.1.0
cycler==0.11.0
flatbuffers==23.5.26
fonttools==4.42.1
gen-exe==0.2.1
kiwisolver==1.4.5
matplotlib==3.7.2
mediapipe==0.10.3
numpy==1.25.2
opencv-contrib-python==4.8.0.76
opencv-python==4.8.0.76
packaging==23.1
pefile==2023.2.7
Pillow==10.0.0
protobuf==3.20.3
pycparser==2.21
pyinstaller==5.13.2
pyinstaller-hooks-contrib==2023.8
pyparsing==3.0.9
python-dateutil==2.8.2
python-math==0.0.1
python-time==0.3.0
pywin32==306
pywin32-ctypes==0.2.2
simpleaudio==1.0.4
six==1.16.0
sounddevice==0.4.6
threaded==4.1.0
tk==0.1.0
